.faIcon {
    font-size: 100%;
    text-align: center;
    color: white;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}
.aShadow {
    text-shadow: #666 -1px -1px, 0 0 #fff;
}
.etchedGreyText{
    text-shadow: 0 -1px grey;
}
.textShadowGrey {
    text-shadow: -1px -1px 0px rgba(100, 100, 100, 1);
}

.cardGroups {
    border: 1px solid #fff;
    border-radius: 10px;
}
.cardGroup {
    border-bottom: 1px solid #fff;
    padding: 15px;
}
.cardGroup:last-child {
    border-bottom: none;
}