/* Адрес цветовой схемы: https://colorscheme.ru/#0061Tw0w0w0w0 */

/* HEX коды */

.primary-0 { color: #ff0000 }		/* Основной Цвет */
.primary-1 { color: #bf3030 }
.primary-2 { color: #a60000 }
.primary-3 { color: #ff4040 }
.primary-4 { color: #ff7373 }

.secondary-a-0 { color: #ff7400 }	/* Вторичный Цвет A */
.secondary-a-1 { color: #bf7130 }
.secondary-a-2 { color: #a64b00 }
.secondary-a-3 { color: #ff9640 }
.secondary-a-4 { color: #ffb273 }

.secondary-b-0 { color: #cd0074 }	/* Вторичный Цвет B */
.secondary-b-1 { color: #992667 }
.secondary-b-2 { color: #85004b }
.secondary-b-3 { color: #e6399b }
.secondary-b-4 { color: #e667af }

.complement-0 { color: #00cc00 }	/* Дополнительный Цвет */
.complement-1 { color: #269926 }
.complement-2 { color: #008500 }
.complement-3 { color: #39e639 }
.complement-4 { color: #67e667 }

.bg-primary-1 {
    background: #bf3030
}
.bg-primary-2 {
    background: #a60000
}

/* RGBA коды */

.primary-0 { color: rgba(255,   0,   0, 1) }		/* Основной Цвет */
.primary-1 { color: rgba(191,  48,  48, 1) }
.primary-2 { color: rgba(166,   0,   0, 1) }
.primary-3 { color: rgba(255,  64,  64, 1) }
.primary-4 { color: rgba(255, 115, 115, 1) }

.secondary-a-0 { color: rgba(255, 116,   0, 1) }	/* Вторичный Цвет A */
.secondary-a-1 { color: rgba(191, 113,  48, 1) }
.secondary-a-2 { color: rgba(166,  75,   0, 1) }
.secondary-a-3 { color: rgba(255, 150,  64, 1) }
.secondary-a-4 { color: rgba(255, 178, 115, 1) }

.secondary-b-0 { color: rgba(205,   0, 116, 1) }	/* Вторичный Цвет B */
.secondary-b-1 { color: rgba(153,  38, 103, 1) }
.secondary-b-2 { color: rgba(133,   0,  75, 1) }
.secondary-b-3 { color: rgba(230,  57, 155, 1) }
.secondary-b-4 { color: rgba(230, 103, 175, 1) }

.complement-0 { color: rgba(  0, 204,   0, 1) }		/* Дополнительный Цвет */
.complement-1 { color: rgba( 38, 153,  38, 1) }
.complement-2 { color: rgba(  0, 133,   0, 1) }
.complement-3 { color: rgba( 57, 230,  57, 1) }
.complement-4 { color: rgba(103, 230, 103, 1) }