/* Адрес цветовой схемы: https://colorscheme.ru/#2P61Tw0w0w0w0 */

/* HEX коды */

.primary-0 { color: #00cc00 }		/* Основной Цвет */
.primary-1 { color: #269926 }
.primary-2 { color: #008500 }
.primary-3 { color: #39e639 }
.primary-4 { color: #67e667 }

.secondary-a-0 { color: #009999 }	/* Вторичный Цвет A */
.secondary-a-1 { color: #1d7373 }
.secondary-a-2 { color: #006363 }
.secondary-a-3 { color: #33cccc }
.secondary-a-4 { color: #5ccccc }

.secondary-b-0 { color: #9fee00 }	/* Вторичный Цвет B */
.secondary-b-1 { color: #86b32d }
.secondary-b-2 { color: #679b00 }
.secondary-b-3 { color: #b9f73e }
.secondary-b-4 { color: #c9f76f }

.complement-0 { color: #ff0000 }	/* Дополнительный Цвет */
.complement-1 { color: #bf3030 }
.complement-2 { color: #a60000 }
.complement-3 { color: #ff4040 }
.complement-4 { color: #ff7373 }

.bg-primary-1 {
    background: #269926
}
.bg-primary-2 {
    background: #008500
}
.bg-secondary-3 {
    background: #33cccc
}
.bg-complement-1 {
    background: #bf3030
}

/* RGBA коды */

.primary-0 { color: rgba(  0, 204,   0, 1) }		/* Основной Цвет */
.primary-1 { color: rgba( 38, 153,  38, 1) }
.primary-2 { color: rgba(  0, 133,   0, 1) }
.primary-3 { color: rgba( 57, 230,  57, 1) }
.primary-4 { color: rgba(103, 230, 103, 1) }

.secondary-a-0 { color: rgba(  0, 153, 153, 1) }	/* Вторичный Цвет A */
.secondary-a-1 { color: rgba( 29, 115, 115, 1) }
.secondary-a-2 { color: rgba(  0,  99,  99, 1) }
.secondary-a-3 { color: rgba( 51, 204, 204, 1) }
.secondary-a-4 { color: rgba( 92, 204, 204, 1) }

.secondary-b-0 { color: rgba(159, 238,   0, 1) }	/* Вторичный Цвет B */
.secondary-b-1 { color: rgba(134, 179,  45, 1) }
.secondary-b-2 { color: rgba(103, 155,   0, 1) }
.secondary-b-3 { color: rgba(185, 247,  62, 1) }
.secondary-b-4 { color: rgba(201, 247, 111, 1) }

.complement-0 { color: rgba(255,   0,   0, 1) }		/* Дополнительный Цвет */
.complement-1 { color: rgba(191,  48,  48, 1) }
.complement-2 { color: rgba(166,   0,   0, 1) }
.complement-3 { color: rgba(255,  64,  64, 1) }
.complement-4 { color: rgba(255, 115, 115, 1) }