body {
    font-size: 14px;
    margin: 0;
    padding: 20px;
    font-family: Verdana, sans-serif;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
.col .imgResponsive {
    /* Responsive */
    max-width: 100%;
    height: auto;
}
.primary1 { color: #4671d5 }
.primary2 { color: #1240ab }
.bgPrimary1 { background-color: #4671d5 }
.bgPrimary2 { background-color: #1240ab }
.secondary1 { color: #009999 }
.secondary2 { color: #1d7373 }
.bgSecondary1 { background-color: #009999 }
.bgSecondary2 { background-color: #1d7373 }

a {
    color: royalblue;
}
a:hover {
    text-decoration: none;
}

.menu a {
    text-transform: capitalize;
    display: block;
    padding: 8px 20px;
    background: royalblue;
    color: #fefefe;
    border-bottom: 1px solid white;
    text-decoration: none;
}
.menu a:hover {
    background: dodgerblue;
}
.menu a.active {
    text-decoration: none;
    background: #fefefe;
    color: royalblue;
}
.table {
    border-collapse:collapse;
    width: 100%;
}
.table tr, .table th, .table td {
    border:1px solid #000
}
.table th, .table td {
    padding:8px;
    text-align:left;
    vertical-align:top
}
.preFontFamily {
    font-family: "Courier New"
}
.input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    font-size: 90%;
    font-family: Verdana, sans-serif;
}
.btn {
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 100%;
}
.cursorPointer {
    cursor: pointer;
}
.marginBottom20px {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    h1, h2 {
        margin-bottom: 20px;
    }
    h1 {
        font-size: 175%;
    }
    h2 {
        font-size: 125%;
    }
    .projectRowPadding {
        padding: 20px 10px;
    }
    .img {
        /* Centring */
        display: block;
        margin: 0 auto;
    }
    .lineItem {
        text-align: center;
    }

    .table thead {
        display: none;
    }
    .table tbody tr {
        display: block;
        margin-bottom: 20px;
    }
    .table tbody td {
        display: block;
        border: none;
        border-bottom: 1px solid #000
    }
    .table tbody td:last-child {
        border-bottom: 0;
    }
    .table tbody td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
}