.row {
    -moz-box-sizing: border-box;
    /*box-sizing: border-box;*/
}
.box {
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
}
.box:before {
    content: " ";
    display: table;
}
.box:after {
    content: " ";
    display: table;
    clear: both;
}

.col {
    box-sizing: border-box;
    float: left;
}
.col + .col {
    margin-left: 1.6%;
}
.col-1 {
    width: 6.86666666667%;
}
.col-2 {
    width: 15.3333333333%;
}
.col-3 {
    width: 23.8%;
}
.col-4 {
    width: 32.2666666667%;
}
.col-5 {
    width: 40.7333333333%;
}
.col-6 {
    width: 49.2%;
}
.col-7 {
    width: 57.6666666667%;
}
.col-8 {
    width: 66.1333333333%;
}
.col-9 {
    width: 74.6%;
}
.col-10 {
    width: 83.0666666667%;
}
.col-11 {
    width: 91.5333333333%;
}
.col-12 {
    width: 100%;
}

@media only screen and (max-width: 608px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: auto;
        float: none;
    }
    .col + .col {
        margin-left: 0;
    }
}
