.backgroundWhite {
    background-color: white;
}
.backgroundGrey {
    background-color: grey;
}
.backgroundWhitesmoke{
    background-color: whitesmoke;
}
.backgroundSizeCover {
    background-size: cover;
}

.borderRadius5px {
    border-radius: 5px;
}
.borderRadius10px {
    border-radius: 10px;
}
.borderRadius15px {
    border-radius: 15px;
}
.borderRadius20px {
    border-radius: 20px;
}
.borderRadius50per {
    border-radius: 50%; /* Circle */
}
.borderBottomNone {
    border-bottom: none;
}
.borderLeftBlack {
    border-left: 1px solid black;
}
.borderBottomGrey {
    border-bottom: 1px solid grey;
}
.borderBottomGrey:last-child {
    border-bottom: none;
}
.borderWhite {
    border: 1px solid white;
}

.boxSizingBorderBox{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    /*padding: 9px 20px;*/
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
}
.borderTransparent {
    border: 1px solid transparent;
}

.colorBlack {
    color: black;
}
.colorWhite {
    color: white;
}
.colorWhite a {
    color: white;
}
.colorGreen {
    color: green;
}
.colorRed {
    color: red;
}
.colorGrey {
    color: grey;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearBoth {
    clear: both;
}

.displayBlock {
    display: block;
}
.displayInLineBlock {
    display: inline-block;
}

.fluidFontSize48px {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 48px);
}
.fontSize12px {
    font-size: 12px;
}
.fontSize14px {
    font-size: 14px;
}
.fontSize16px {
    font-size: 16px;
}
.fontSize18px {
    font-size: 18px;
}
.fontSize20px {
    font-size: 20px;
}
.fontSize22px {
    font-size: 22px;
}
.fontSize24px {
    font-size: 24px;
}
.fontSize48px {
    font-size: 48px;
}
.fontSize64px {
    font-size: 64px;
}
.fontSize90per {
    font-size: 90%;
}
.fontSize125per {
    font-size: 125%;
}
.fontSize150per {
    font-size: 150%;
}
.fontSize175per {
    font-size: 175%;
}
.fontSize200per {
    font-size: 200%;
}
.fontSize250per {
    font-size: 250%;
}
.fontSize300per {
    font-size: 300%;
}
.fontSize350per {
    font-size: 350%;
}
.fontSize400per {
    font-size: 400%;
}
.fontSize500per {
    font-size: 500%;
}
.fontWeightBold {
    font-weight: bold;
}
.fontStyleItalic {
    font-style: italic;
}

.height25px {
    height: 25px;
}
.height50px {
    height: 50px;
}
.height75px {
    height: 75px;
}
.height100px {
    height: 100px;
}
.height90per {
    height: 90%;
}
.height100per {
    height: 100%;
}

.hidden {
    position: absolute;
    visibility: hidden;
}

.inMiddleBlockLine {
    display: inline-block;
    vertical-align: middle;
}
.input {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    font-size: 90%;
    font-family: Verdana, sans-serif;
}

.listStyleTypeCircle {
    list-style-type: circle;
}

.lineHeight25 {
    line-height: 25px;
}
.lineHeight30 {
    line-height: 30px;
}
.lineHeight50px {
    line-height: 50px;
}
.lineHeight75px {
    line-height: 75px;
}
.lineHeight100px {
    line-height: 100px;
}
.lineHeightNormal {
    line-height: normal
}

.marginTop10per {
    margin-top: 10%;
}
.marginTop15per {
    margin-top: 15%;
}
.marginTop20per {
    margin-top: 20%;
}
.marginTop50per {
    margin-top: 50%;
}
.marginTop20px {
    margin-top: 20px;
}
.marginRight5px {
    margin-right: 5px;
}
.marginRight10px {
    margin-right: 10px;
}
.marginBottom10px {
    margin-bottom: 10px;
}
.marginBottom15px {
    margin-bottom: 15px;
}
.marginBottom20px {
    margin-bottom: 20px;
}
.marginBottom30px {
    margin-bottom: 30px;
}
.marginBottom40px {
    margin-bottom: 40px;
}
.marginBottom50px {
    margin-bottom: 50px;
}
.marginBottom60px {
    margin-bottom: 60px;
}

/* vertical align */
.margin33vhAuto {
    margin: 33vh auto;
}
.margin50vhAuto {
    margin: 50vh auto;
}
.height100vh {
    height: 100vh;
}

.minHeightCalc100vh {
    min-height: calc(100vh);
}
.minHeightCalc90vh {
    min-height: calc(90vh);
}
.minHeightCalc80vh {
    min-height: calc(80vh);
}
.minHeightCalc70vh {
    min-height: calc(70vh);
}
.minHeightCalc60vh {
    min-height: calc(60vh);
}
.minHeightCalc50vh {
    min-height: calc(50vh);
}
.minHeightCalc40vh {
    min-height: calc(40vh);
}
.minHeightCalc30vh {
    min-height: calc(30vh);
}

.opacityZero {
    opacity: 0;
}
.opacityZeroTransition {
    position: absolute;
    visibility: hidden;
    -webkit-transition: 1s;
    transition: 1s;
}
.opacityOneTransition {
    opacity:1;
    -webkit-transition: 1s;
    transition: 1s;
}

.panel {
    padding: 10px;
    border-radius: 5px;
}

.padding10px {
    padding: 10px;
}
.padding15px {
    padding: 15px;
}
.padding20px {
    padding: 20px;
}
.padding0x20px {
    padding: 0px 20px;
}
.padding10x20px {
    padding: 10px 20px;
}
.padding40x20px {
    padding: 40px 20px;
}
.paddingTop20px {
    padding-top: 20px;
}
.paddingTop40px {
    padding-top: 40px;
}
.paddingBottom20px {
    padding-bottom: 20px;
}
.paddingLeft20px {
    padding-left: 20px;
}

.telegramBackgroundColor {
    background: #337ab7;
}
.skypeBackgroundColor {
    background: #00aff0;
}

.textAlignCenter {
    text-align: center;
}
.textAlignJustify {
    text-align: justify;
}
.textAlignRight {
    text-align: right
}
.textAlignLeft{
    text-align: left;
}

.textTransformUppercase {
    text-transform: uppercase;
}
.textDecorationNone {
    text-decoration: none;
}

.pressBlackText {
    text-shadow: 0px -1px 0px #666, 0px 1px 0px #fff;
}
.pressWhiteText {
    text-shadow: -1px -1px 0px rgba(85, 85, 85, 0.5);
}

.textShadowLight {
    text-shadow: -1px -1px 0px rgba(192, 192, 192, 0.5);
}
.textShadowDark {
    text-shadow: -1px -1px 0px rgba(64, 64, 64, 0.5);
}

.boxShadow1 {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.boxCorners {
    box-shadow: -20px 20px 0 -17px #fefefe,
    20px -20px 0 -17px #fefefe,
    20px 20px 0 -20px #000,
    0 0 0 2px #000;
    padding: 5px;
}
.boxShadowInsetTop {
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0, 1);
}
.boxShadowInsetBottom {
    box-shadow: inset 0px -10px 10px -10px rgba(0,0,0, 1);
}
.boxShadowInsetTopBottom {
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0, 1), inset 0px -10px 10px -10px rgba(0,0,0, 1);
}

/*
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
*/

.visible {
    position: static;
    visibility: visible;
}
.verticalAlignMiddle {
    vertical-align: middle;
}

.whatsAppColor {
    color: #25d366
}
.whatsAppBgColor {
    background: #25d366
}
.width25px {
    width: 25px;
}
.width50px {
    width: 50px;
}
.width75px {
    width: 75px;
}
.width100px {
    width: 100px;
}
.width150px {
    width: 150px;
}
.width175px {
    width: 175px;
}
.width200px {
    width: 200px;
}
.width50per {
    width: 50%;
}
.width90per {
    width: 90%;
}
.width100per {
    width: 100%;
}
.maxWidth100per {
    max-width: 100%;
}

.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 100;
}
.modalWindow {
    position: relative;
    top: 50%;
    width: 280px;
    margin: 0 auto;
    z-index: 101;
    border-radius: 5px;
    background: white;
    text-align: center;
    padding: 20px;
}
.modalCloseBtn {
    position: absolute;
    top: -30px;
    right: -30px;
    background: transparent;
    color: #e7e7e7;
    border: 3px solid #e7e7e7;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}
.modalCloseBtn:hover, .modalCloseBtn:focus {
    color: white;
    border-color: white;
}

.objectFitContain {
    object-fit: contain;
}
.objectFitCover {
    object-fit: cover;
}
.objectFitFill {
    object-fit: fill;
}
.objectFitScaleDown {
    object-fit: scale-down;
}

.positionRelative {
    position: relative;
}
.overflowHidden {
    overflow: hidden;
}

.bgVideo {
    max-height: calc(100vh);
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.bgVideo video {
    width: 100%;
    -webkit-filter:brightness(50%);
    filter:brightness(50%);
}
.bgVideoOverlay {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 20;
    overflow: hidden;
}

/* bg covers */
.bgOfferImg {
    background: url("/app/bgOffer.jpg") center center no-repeat;
    background-size: cover;
}

/* https://itchief.ru/lessons/html-and-css/css-media-queries */
@media screen and (min-width: 1200px) and (orientation: landscape) {
    /*
    Стили CSS в вышеприведённом примере выполняться только в том случае,
    если страница будет выводиться на устройство с экраном,
    иметь область просмотра более 1200 пикселей в ширину,
    а также находиться в альбомном режиме.
    */
}
@media (min-width: 992px), (orientation: landscape) {
    /*
    Стили CSS в этом примере будут применяться к странице в двух случаях.
    Т.е. тогда, когда устройство будет иметь viewport не менее 544 пикселей (включительно) или ориентацию landscape.
    */
}
@media only screen and (max-width: 768px) {  }
@media only screen and (max-width: 480px) {
    .modalWindow {
        width: 230px;
        padding: 10px;
        font-size: 90%;
    }
}
@media only screen and (max-width: 320px) {  }