/* foundation */
body {
    font-size: 16px;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #4a4a4a;
}
div {
    line-height: 25px;
}
.line-height-normal {
    line-height: normal;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    opacity: 0.8;
    color: black;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 16px;
}
.col .img-responsive {
    /* Responsive */
    max-width: 100%;
    height: auto;
}
.primary1 { color: #008b8b }
.primary2 { color: #1a6868 }
.bg-primary1 { background-color: #008b8b }
.bg-primary2 { background-color: #1a6868 }

.secondary1 { color: #436dcd }
.secondary2 { color: #103a9b }
.bg-secondary1 { background-color: #436dcd }
.bg-secondary2 { background-color: #103a9b }

.tertiary1 { color: #00b900 }
.tertiary2 { color: #238b23 }
.bg-tertiary1 { background-color: #00b900 }
.bg-tertiary2 { background-color: #238b23 }

.complement1 { color: #e86900 }
.complement2 { color: #974400 }
.bg-complement1 { background-color: #e86900 }
.bg-complement2 { background-color: #974400 }

.invert-color {
    opacity: 1;
    color: white;
}

a {
    color: #1a6868;
}
a:hover {
    text-decoration: none;
}

/* modules */
.input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
    font-size: 90%;
    font-family: Verdana, sans-serif;
}
.btn {
    padding: 5px 12px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
}

/* project */
.team-item {
    text-align: center;
}
.head-text-align {
    text-align: left;
}
.btn-align {
    text-align: left;
}
.padding-top {
    padding-top: 40px;
}
.padding-bottom {
    padding-bottom: 40px;
}
.margin-top {
    margin-top: 40px;
}
.margin-bottom {
    margin-bottom: 40px;
}
.small-margin-bottom {
    margin-bottom: 20px;
}
.text-line-height {
    line-height: 25px;
}
.border-radius-50per {
    border-radius: 50%;
}

.portfolio-items {
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.portfolio-items:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.portfolio-item {
    display: inline-block;
    vertical-align: top;
}
.fa-item {
    text-align: center;
}

.nav .col {
    margin-left: 0;
}
.nav .col-3 {
    width: 25%;
}
.nav a {
    display:block;
    text-align: center;
    padding: 10px;
}

/*
.jumbotron-col {
    display: table;
}
.jumbotron-col-cell {
    display: table-cell;
    vertical-align: middle;
}
*/
.col-logo {
    height: 260px;
    border-right: 1px solid whitesmoke;
}
.col-logo-text {
    font-weight: bold;
    line-height: normal;
    font-size: 82px;
}

.quote {
    padding-left: 20px;
    border-left: 1px dotted whitesmoke;
    font-style: italic;
}
.footer {
    padding-bottom: 80px;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .btn-align {
        text-align: center;
    }
    .head-text-align {
        text-align: center;
    }
}

@media only screen and (max-width: 1040px) {
    .box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .margin-bottom:last-child {
        margin-bottom: 0;
    }
    .portfolio-items:last-child {
        margin-bottom: 0;
    }
    .col-logo {
        text-align: center;
        border-right: none;
    }
    .img {
        /* Centring */
        display: block;
        margin: 0 auto;
    }
}

/* cosmetic */